.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.error{
    color: red;
    font-weight: bolder;
}
.centerOfPage{
    margin: 3% 30%;
    border: 2px solid black;
}
table{
    width: 100%;
}
table,td,th{
    /* width: 500px; */
    border: 2px solid red;
    text-align: center;
}
/* td, th {
    width: 100%;
} */